/* Responsive Mobile designs */
@media screen and (max-width:576px) {
    /* navbar */
    .navbar{
        padding-top: 2rem;
        box-shadow: 0;
    }
    .navbar, .menus{
        flex-direction: column;
        justify-content: center;
    }
    .menus{
        margin-top: 1.5rem;
    }
    /* navbar */

    /* main signin section */
    main{
        margin-top: 3rem;
    }
    .signin_section {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }
      .signin_first, .signin_second{
        width: 63%;
      }
      .signin_first .player_highlight {
        font-size: 50px;
      }
      .signin_section {
        background-image: none;
      }
      .signin_first{
        background-image: url('../images/Group\ 14.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
}